* {
    font-family: 'Roboto', sans-serif
}

.header, 
.navy-container,
.white-container,
.blue-container,
.gray-container,
.footer {
    margin: -10px;
}

.header,
.navy-container,
.white-container,
.blue-container,
.gray-container {   
    padding: 10px 300px;
}

.header, 
.navy-container,
.white-container,
.gray-container,
.blue-container,
.box-and-text {
    align-items: center;
}

.header, 
.navy-container,
.footer {
    background-color: #1F2937;
}

.header,
.header ul,
.navy-container,
.white-container,
.white-images,
.box-and-text,
.blue-container
{
    display: flex;
}

.header,
.blue-container
 {
    justify-content: space-between;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.header a,
.navy-message p,
.navy-message button,
.blue-container button {
    font-size: 18px;
}

.logo,
.header a,
.navy-message h1,
.navy-message p,
.navy-message button,
.blue-message,
.blue-container button,
.footer {
    color: #F9FAF8;
}

.navy-message button,
.blue-container,
.blue-container button {
    background-color: #3882F6;
}

.navy-container,
.white-images {
    justify-content: center;
}

.header ul {
    list-style: none;
    gap: 16px;
}

.white-container h1,
.box-and-text,
.footer {
   text-align: center;
 }

 .navy-message button,
 .blue-container button {
    cursor: pointer;
 }

 .white-container,
 .box-and-text {
    flex-direction: column;
 }

.gray-container p,
.blue-message h1,
.blue-container button {
    font-weight: bold;
 }

.box-and-text,
.footer {
    font-size: 12px;
 }

 .blue-box,
 .blue-container button {
    border-style: solid;
 }

.blue-box,
.blue-container button,
.blue-container
{
    border-radius: 5px;
 }

.header a {
    text-decoration: none;
}

.navy-container {
    padding-bottom: 24px;
    gap: 36px;
}

.navy-message {
    width: 600px;
}

.navy-container img {
    width: auto;
    height: 150px;
    flex-shrink: 1;
}

.navy-message h1 {
    font-size: 48px;
    font-weight: 900;
    margin-bottom: -5px;
}

.navy-message button {
    border: none;
    border-radius: 5px;
    padding: .5em 2em;
 }

 .white.container h1,
 blockquote,
 .box-and-text {
    color: #1F2937;
 }

 .white-container h1{
    font-weight: 900;
 }

 .white-container h1,
 blockquote {
    font-size: 36px;
 }

 .white-images {
    padding: 0 200px;
 }

.box-and-text {
    padding: 20px;
    gap: 10px;
}

 .blue-box {
    height: 100px;
    width: 100px;
    border-color: #3882F6;
 }

 .gray-container {
    background-color: #E5E7EB;
 }

blockquote {
    font-weight: lighter;
    font-style: italic;
    padding: 25px 25px 0px 25px;
 }

.gray-container p {
    text-align: right;
    padding-right: 48px;
}

.blue-container {
    padding: 36px 100px;
    margin: 150px 250px;
}

.blue-message {
    font-size: 18px;
}

.blue-message h1 {
    font-size: 24px;
    margin-bottom: -5px;
}

.blue-container button {
    border-color: #E5E7EB;
    padding: 8px 24px;
}

.footer {
    padding: 48px;
}